        <div class="container">
            <div class="row">             
                <div class="col-xs-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              14, Avenida de las Playas<br>
		              12121 Lanzarote<br>
		              Spain<br>
		              <i class="fa fa-phone"></i>: +34 838 383 88<br>
		              <i class="fa fa-fax"></i>: +34 838 383 87<br>
		              <i class="fa fa-envelope"></i>: 
                         <a href="mailto:spending@benchmark.net">
                         confusion@food.net</a>
                    </address>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="nav navbar-nav" style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2016 Spending Benchmark</p>
                </div>
            </div>
        </div>
